/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------HEADER--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* @media (max-width: 600px) {
   .FDC-Header-D1 {
      & h1 {
         font-size: 1.5em;
      }
   }
   .FDC-Lista-Grid {
      display: none;
   }

   .menssager-div {
      max-width: 70vw;
      word-break: break-all;
   }
   .FDC-Grafico-Banco {
      flex-direction: column;
   }
   .FDC-Gráfico-principal {
      width: 100vw !important;
      height: 300px !important;
   }
   .FDC-add-editFluxo {
      max-width: 400px;
   }
}
@media (max-width: 800px) {
   .FDC-Lista-Grid {
      max-width: 500px !important;
   }
}

@media (max-width: 1200px) {
   .FDC-Lista-Resumo {
      background-color: var(--gray-800);
      flex-direction: column;
   }
   .FDC-Gráficos-secundários {
      flex-direction: column;
   }
   .FDC-resumo {
      margin-top: 30px;
   }
   .FDC-Grafico-Banco {
      flex-direction: column;
   }
   .FDC-Lista-Grid,
   .Grafico {
      display: flex;
      justify-content: center;
   }
} */

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------NAVBAR--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------LISTA--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-Grafico-Banco {
   margin-top: 50px;
   display: flex;
   background-color: var(--gray-800);
   align-items: center;

   .FDC-Gráfico-principal {
      width: 50%;
      height: 400px;
   }
}

.FDC-Gráficos {
   background-color: var(--gray-800);
}

.FDC-Gráficos-secundários {
   padding-top: 100px;
   display: flex;
   justify-content: space-around;
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------BANCO------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-Banco {
   border: 1px solid black;
   width: 50%;
   height: 400px;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
