.container {
   height: 100vh;
   width: 70vw;
   position: fixed;
   right: 0;
   top: 0;
   background-color: var(--gray-900);
   transform: translateX(100%);
   transition: transform 0.5s ease;
   z-index: 100;
}
.open {
   transform: translateX(0);
}
.title {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}

.title button {
   height: 35px;
   width: 35px;
   color: white;
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid var(--gray-200);
   transition: 0.2s;
   margin-right: 20px;
}
.title button:hover {
   background-color: var(--gray-200);
   color: red;
}

.title h1 {
   padding-left: 20px;
   color: white;
}

.buttons {
   display: flex;
   flex-direction: column;
   height: 90%;
   justify-content: space-around;
   align-items: center;
}
.buttons button {
   color: white;
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid var(--gray-200);
   padding: 5px 10px;
   transition: 0.2s;
}

.buttons button:hover {
   background-color: var(--gray-200);
   color: black;
}
