.container {
   text-align: center;
   position: absolute;
   width: 80vw;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   opacity: 100%;
   padding: 15px 30px;
   font-size: 0.5em;
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(12px);
   color: #fff;
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
   z-index: 1000;
}
.container h1 {
   word-break: break-all;
}
