.overlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.603);
   z-index: 9;
}

.container {
   background-color: var(--gray-700);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90vw;
   height: 60vh;
   border: 1px solid black;
   border-radius: 8px;
}

.title {
   width: 100%;
   height: 50px;
   border-bottom: 1px solid var(--gray-800);
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.title h1 {
   font-size: 1.5em;
}
.title button {
   width: 30px;
   height: 30px;
   background-color: var(--gray-700);
   border: 1px solid black;
   transition: 0.3s;
   font-size: 1.2em;
}
.title button:hover {
   background-color: black;
   color: red;
}
.categorias {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: calc(100% - 50px);
}
.categorias div {
   width: 100%;
   display: flex;
}
.categorias div * {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.categorias div div button {
   font-size: 1.2em;
   background-color: rgba(0, 0, 0, 0);
   border: none;
}
.categorias .categoria_add {
   border-top: 1px solid black;
   width: 100%;
   padding: 25px 0px;
   justify-content: space-around;
}
.categorias .categoria_add input {
   background-color: rgba(0, 0, 0, 0);
   border: none;
   border-bottom: 1px solid black;
}
.categorias .categoria_add input:focus {
   outline: none;
}
.categorias .categoria_add button {
   width: 70px;
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid black;
   padding: 5px 10px;
   transition: 0.2s;
}
.categorias .categoria_add button:hover {
   background-color: black;
   color: white;
}
