.container {
   display: flex;
   height: 70px;
   justify-content: space-around;
   align-items: center;
}
.action {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.input {
   height: 20px;
   background-color: var(--gray-600);
   border: none;
   border-radius: 5px;
   padding: 5px;
}
.button {
   font-size: 2em;
   background-color: rgba(255, 235, 205, 0);
   border: none;
   margin: 0px 5px;
}
.button_reload {
   background-color: var(--gray-600);
   border-radius: 5px;
   font-size: 2em;
   width: 43px;
   height: 43px;
}
