/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------HEADER--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-Header {
   height: 60px;
   display: flex;
   justify-content: space-around;
   background-color: var(--gray-600);
   & div {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: end;
   }
}
.FDC-Header-D2 {
   margin-right: 20px;
}
.FDC-Header-Titulo {
   color: var(--gray-300);
}
.FDC-Header-Configurações {
   cursor: pointer;
}

.FDC-Header-EditarPerfil {
   display: flex;
   flex-direction: column;
   background-color: var(--gray-300);
   padding: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   & .FDC-Header-EditarPerfil-title {
      display: flex;

      align-items: center;
      justify-content: space-between;

      & button {
         margin-left: 20px;

         width: 50px;
         height: 50px;
      }
   }

   & .FDC-Header-EditarPerfil-Button {
      border: 1px solid black;
      margin-top: 20px;
      padding: 10px;
   }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------NAVBAR--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-Navbar {
   display: flex;
   height: 70px;
   justify-content: center;
   align-items: center;
}
.FDC-Navbar-SetMes {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 250px;
   & button {
      font-size: 2em;
   }
   & input {
      height: 30px;
      background-color: var(--gray-600);
      border: none;
      border-radius: 5px;
      padding: 5px;
   }
}
.FDC-Navbar-Button {
   background-color: var(--gray-600);
   border-radius: 5px;

   padding: 10px;
   margin-left: 30px;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------LISTA--------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

@media (max-width: 1200px) {
   .FDC-Lista-Resumo {
      background-color: var(--gray-800);
      flex-direction: column;
   }

   .FDC-resumo {
      margin-top: 30px;
   }
}

.FDC-Lista-Resumo {
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.FDC-Lista {
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   & .deshboard-resumo {
      padding: 10px;
      border: 1px solid white;
      color: white;
      display: flex;
      flex-direction: column;

      & h1 {
         width: 100%;
         text-align: center;
      }
      & h2 {
         font-size: 1.4em;
         font-weight: lighter;
      }
      & span {
         font-size: 0.9em;
         font-weight: bold;
      }
   }
}
.FDC-Lista-Grid {
   min-width: 800px;
   width: 60vw;
   height: 300px;
   overflow-y: auto;
   background-color: white;
   border: 1px solid black;
}
.FDC-Lista-Titles {
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 0.4em;
   display: grid;
   grid-template-columns: 0.8fr 0.5fr 0.6fr 0.8fr 3fr 1fr 1fr 0.3fr;
   & div {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      white-space: normal;
      word-break: break-word;
   }
}

.FDC-Lista-button-father {
   display: flex;
   align-items: center;
   justify-content: space-around;
   border: none;
   & .FDC-Lista-button-father-div {
      border: none;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
   }
}
.FDC-Lista-button-del-edit {
   width: 25px;
   font-size: 2.5em;
   height: 25px;
   text-align: center;
   /* background-color: red; */
   /* box-shadow: 2px 2px 5px black; */
   border: none;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-resumo {
   border: 1px solid black;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-Gráficos {
   background-color: var(--gray-800);
}

.FDC-Gráfico-principal {
   width: 70vw;
   background-color: var(--gray-800);
}
.FDC-Gráfico-principal-div {
   padding: 100px;
   display: flex;
   justify-content: center;
}
.FDC-Gráficos-secundários {
   padding-top: 100px;
   display: flex;
   justify-content: space-around;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------RESUMO-------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.FDC-add-editFluxo {
   position: absolute;
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--gray-500);
   padding: 20px;
   border-radius: 6px;

   & .FDC-add-editFluxo-title {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      & button {
         border: none;
         width: 40px;
         height: 40px;
      }
   }

   & .FDC-add-editFluxo-divs {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-size: 1.3em;
      & label,
      input,
      select {
         margin-top: 10px;
         width: 50%;
      }
      & input,
      select {
         height: 30px;
         background-color: var(--gray-400);
         border: none;
         border-bottom: 2px solid black;
      }
   }

   & .FDC-add-editFluxo-div-button-enviar {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      & .FDC-add-editFluxo-button-enviar {
         background-color: var(--gray-600);
         color: black;
         width: 100px;
         height: 30px;
         margin-right: 50px;

         &:hover {
            background-color: var(--gray-800);
            color: white;
         }
      }
   }
}
