.deshboard-div-lista-fluxo-grid {
   width: 60vw;
   height: 300px;
   overflow-y: auto;
   background-color: white;
   border: 1px solid black;
}
.deshboard-div-lista-fluxo {
   text-align: center;
   font-size: 0.4em;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 0.5fr 0.5fr;
   & h1 {
      border: 1px solid black;
      white-space: normal;
      word-break: break-word;
   }
}
.deshbord-button {
   font-size: 2em;
   border: none;
   background-color: rgba(0, 0, 0, 0);
   cursor: pointer;
}
.deshbord-div-botoes-mes {
   background-color: var(--color-primary-dark);
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;

   & .deshbord-data-select {
      width: 200px;
      font-size: 1.5em;
      margin: 0px 20px;
   }

   & .deshbord-button-add-rec {
      height: 38px;
      margin: 0px 20px;
      padding: 10px;
      text-align: center;
   }
}
.deshboard-div-button {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
}
.deshbord-button-del-edit {
   width: 25px;
   height: 25px;
   text-align: center;
   background-color: red;
   box-shadow: 2px 2px 5px black;
   border: none;
}
.addfluxo {
   position: absolute;
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;

   & .addfluxo-title {
      width: 100%;
      display: flex;
      justify-content: space-around;

      & button {
         border: none;
         width: 40px;
         height: 40px;
         box-shadow: 2px 2px 5px black;
      }
   }
}
.deshboard-lista-resumo {
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
   & .deshboard-resumo {
      padding: 10px;
      border: 1px solid white;
      color: white;
      display: flex;
      flex-direction: column;

      & h1 {
         width: 100%;
         text-align: center;
      }
      & h2 {
         font-size: 1.4em;
         font-weight: lighter;
      }
      & span {
         font-size: 0.9em;
         font-weight: bold;
      }
   }
}
header {
   background-color: var(--gray-900);
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 10px 50px;
   & h1 {
      margin: 0px 20px;
      color: white;
      padding: 5px;
      cursor: default;
   }
   & button {
      border: none;
      height: 30px;
      width: 60px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.53);
      transition: 0.5s;
   }
   & .header-div-perfil {
      display: flex;
   }

   & .header-perfil {
      height: 50px;
      width: 50px;
      background-color: black;
      border-radius: 50%;
   }
}
.div-editarperfil {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;

   position: absolute;
   top: 15%;
   right: 5%;
   border: 1px solid white;
   background-color: var(--gray-800);

   & .div-editaperfil-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }

   & .div-editarperfil-back {
      padding: 0px;
      margin: 0px;
      width: 15px;
      height: 15px;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px black;
      color: red;
      position: absolute;
      top: 5px;
      right: 5px;
   }

   & .div-editarperfil-infos {
      display: flex;
      align-items: center;
      justify-content: start;
      & * {
         padding: 5px;
      }
   }
}
#fileInput {
   display: none;
}

.custom-file {
   color: white;
   padding: 10px 16px;
   border-radius: 6px;
   cursor: pointer;
   font-weight: bold;
   display: inline-block;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* -----------------Grafico----------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.Grafico {
   background-color: var(--gray-800);
}
.Graficos {
   padding-top: 50px;
   display: flex;
   background-color: var(--gray-800);
   justify-content: space-around;
}
