.login-nav {
   width: 300px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   display: flex;
   background-color: rgb(231, 230, 230);
   height: 300px;
   position: absolute;
   border-radius: 15px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.login-input {
   background-color: rgb(231, 230, 230);
   width: 200px;
   padding: 10px 5px;
   font-size: 16px;
   border: none;
   border-bottom: 2px solid #ccc;
   outline: none;
   transition: all 0.3s ease;
   margin-bottom: 20px;
}

.login-input::placeholder {
   color: #aaa;
}

.login-input:focus {
   border-bottom-color: var(--gray-900);
}
.login-button {
   margin-bottom: 30px;
   width: 220px;
   padding: 12px;
   border: none;
   border-radius: 30px;
   background: var(--gray-900);
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   transition: background 0.3s;
}

.login-button {
   background: var(--gray-700);
}
