body {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
#root {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.724),
    rgb(73, 72, 72)
  );
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
