@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
   height: 100%;
   width: 100%;
   font-family: "Outfit", sans-serif;
   background-color: var(--gray-800);
}
* {
   margin: 0px;
   padding: 0px;
}
