@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.menssager-div {
   text-align: center;
   width: 500px;
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   opacity: 100%;

   padding: 15px 30px;
   font-size: 0.9em;

   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(12px);
   color: #fff;

   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

   & h1 {
      font-family: "Outfit", sans-serif;
   }
}
