@media (max-width: 600px) {
   .SelectApp-apps {
      min-width: 100vw;
   }
}
.SelectApp-apps-logout {
   cursor: pointer;
}
.SelectApp-apps {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 70vw;
   max-width: 900px;
   height: 45vh;
   display: flex;
   flex-direction: column;

   & .SelectApp-apps-tittle {
      display: flex;
      width: 100%;
      justify-content: center;
      color: white;
      height: 30%;
   }

   & .SelectApp-apps-Apps {
      height: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      & .SelectApp-apps-Apps-all {
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
      }
   }
}
.SelectApp-fluxoDeCaixa {
   width: 70px;
   height: 70px;
   cursor: pointer;
}
