.SelectApp-apps {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.2);
   width: 50vw;
   height: 45vh;
   display: flex;
   flex-direction: column;

   & .SelectApp-apps-tittle {
      display: flex;
      width: 100%;
      justify-content: center;
      color: white;
      height: 30%;
   }

   & .SelectApp-apps-Apps {
      height: 70%;
      display: flex;
      justify-content: center;

      & .SelectApp-apps-Apps-all {
         margin-right: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
      }
   }
}
.SelectApp-fluxoDeCaixa {
   width: 50px;
   height: 50px;
   cursor: pointer;
}
