.container {
   width: 100%;
   height: 300px;

   margin-top: 50px;
   font-family: Helvetica, sans-serif;
   display: flex;
   justify-content: center;
}
.grid {
   width: 90vw;
   overflow: auto;
}
.titles {
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 0.4em;
   display: grid;
   grid-template-columns: 0.6fr 0.5fr 0.6fr 0.8fr 3fr 1fr 1fr 0.3fr;
   width: 1000px;
}
.titles div {
   min-height: 40px;

   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   white-space: normal;
   word-break: break-word;
}
.titles:nth-child(even) {
   background-color: #f2f2f2;
}
.titles:nth-child(odd) {
   background-color: #d7d7d7;
}
