.overlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.603);
   z-index: 9;
}

.container {
   width: 80vw;
   height: 50vh;
   background-color: var(--gray-600);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 8px;
   z-index: 10;
}

.title {
   width: 100%;
   height: 50px;
   border-bottom: 1px solid var(--gray-800);
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.title h1 {
   font-size: 1.5em;
}
.title button {
   width: 30px;
   height: 30px;
   background-color: var(--gray-400);
   border: 1px solid black;
   transition: 0.3s;
   font-size: 1.2em;
}
.title button:hover {
   background-color: black;
   color: red;
}
.options {
   height: calc(100% - 50px);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin: 0px 20px;
}
.options div {
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.options div * {
   width: 50%;
   text-align: center;
}
.options div input,
select {
   background-color: rgba(0, 0, 0, 0);
   border: none;
   border-bottom: 1px solid black;
}

.options div select option {
   background-color: #333;
   color: white;
   font-size: 16px;
   padding: 10px;
}

.options div input:focus,
select:focus {
   outline: none;
}

.action button {
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid black;
   padding: 5px 10px;
   transition: 0.2s;
}
.action button:hover {
   background-color: black;
   color: white;
}

.textarea {
   resize: vertical;
   min-height: 20px;
   max-height: 50px;
   background-color: rgba(0, 0, 0, 0);
   border: none;
   border-bottom: 1px solid black;
}
.textarea:focus {
   outline: none;
}
#action_del {
   width: 30px;
   padding: 0;
}
#action_del:hover {
   background-color: black;
}
